<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" (mousemove)="changeLeftContainerWidth($event)" (mouseup)="changeResizeMode(false)" (mouseleave)="changeResizeMode(false)" >
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true">
      <div fxLayout="row" fxFill fxFlexAlign="stretch">
        <div fxFlex="95" fxLayout="column" fxFill fxFlexAlign="stretch" fxLayoutGap="5px" style="
            padding: 5px;
            background-color: rgb(203, 200, 243);
            overflow: hidden;
          ">
          <mat-toolbar class="example-toolbar" fxFlex="7" style="background-color: rgb(233, 166, 166)">
            <button mat-icon-button (click)="snav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <h1 class="example-app-name">sidenav</h1>
            <span class="example-spacer"></span>
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-toolbar>

          <mat-nav-list fxFlex="93" style="background-color: rgb(211, 251, 212); overflow: scroll">
            <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">
              {{ nav }}
            </a>
          </mat-nav-list>
        </div>
        <div fxFlex="5"class="sizeBar" (mousedown)="changeResizeMode(true)" (mouseup)="changeResizeMode(false)" ></div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxLayout="column" fxFill fxFlexAlign="stretch" fxLayoutGap="5px" style="
          padding: 5px;
          background-color: rgb(203, 200, 243);
          overflow: hidden;
        ">
        <mat-toolbar class="example-toolbar" fxFlex="7" style="background-color: rgb(245, 240, 188)">
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <h1 class="example-app-name">content</h1>
          <span class="example-spacer"></span>
          <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>

        <div fxFlex="93" style="background-color: rgb(210, 247, 232); overflow: scroll">
          <p *ngFor="let content of fillerContent">
            {{ content }}
          </p>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->