<as-split direction="horizontal">
  <as-split-area [size]="leftSidenavWidth" style="overflow: hidden; background-color: rgb(83, 244, 174)"
    fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start stretch">
    <!-- <div *ngIf="loading"
      style="
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 999;
      "
    ></div> -->
    <mat-toolbar fxFlex="5" style="padding-left: 5px; padding-right: 5px">
      <mat-form-field style="width: 50%">
        <input matInput type="text" placeholder="Search..." [(ngModel)]="searchText" (ngModelChange)="
            searchText = $event; setChildOk($event, nestedDataSource.data)
          " />
        <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
          <mat-icon color="warn">close</mat-icon>
        </button>
        <button mat-button *ngIf="!searchText" matSuffix mat-icon-button aria-label="Search">
          <mat-icon color="primary">search</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field style="width: 40%">
        <mat-label>Pokemon</mat-label>
        <mat-select [formControl]="pokemonControl">
          <mat-option>-- None --</mat-option>
          <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
            <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
              {{ pokemon.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <span class="example-spacer"></span>

      <button mat-icon-button>
        <mat-icon color="accent" (click)="onClickMenuAction(undefined,undefined)">add</mat-icon>
      </button>
    </mat-toolbar>

    <mat-card fxFlex="*" style="overflow: auto">
      <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle
          [style.display]="!searchText || node.ok ? 'block' : 'none'">
          <div fxLayout="row" [appScrollIntoView]="node.newInserted">
            <div style="display: block">
              <div class="lines1"></div>
              <div class="lines2"></div>
            </div>
            <div class="child" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" fxFlexFill
              [ngClass]="{ activechildNodeBgColor: node.selected }">

              <div *ngIf="node.nodeType=='child';else expand_icon">
                <button mat-icon-button class="tree-menu-img-btn">
                  <mat-icon color="pr">person </mat-icon>
                </button>
              </div>
              <ng-template #expand_icon>
                <button class="tree-expand-collapse-btn" mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon [style.color]="'black'" *ngIf="node.children.length">
                    {{
                    nestedTreeControl.isExpanded(node)
                    ? "expand_more"
                    : "chevron_right"
                    }}
                  </mat-icon>
                </button>
              </ng-template>





              <mat-checkbox (change)="itemToggle($event.checked, node)" [checked]="node.checked"></mat-checkbox>
              <mat-button [routerLink]="['canvas', node.id]" class="tree-node-name-btn"
                (click)="activeNode = node; onClickNode(node, 'CHILD')"
                [innerHTML]="node.name + ' ' + node.newInserted+ ' ' + node.selected | titlecase | p_highlight: searchText">
                <!-- {{ node.name }} -->
              </mat-button>
              <span style="flex: 1 1 auto"></span>

              <!--context menu child  -->
              <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu"
                class="tree-menu-btn">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu1="matMenu" xPosition="after">
                <div *ngIf="node.nodeType=='parent';else child_content1">
                  <button mat-menu-item (click)="onClickMenuAction(node,menu)" *ngFor="let menu of menuData.parent">
                    <mat-icon>{{menu.icon}}</mat-icon>
                    <span>{{menu.label | titlecase}}</span>
                  </button>
                </div>

                <ng-template #child_content1>
                  <button mat-menu-item (click)="onClickMenuAction(node,menu)" *ngFor="let menu of menuData.child">
                    <mat-icon>{{menu.icon}}</mat-icon>
                    <span>{{menu.label | titlecase}}</span>
                  </button>
                </ng-template>
              </mat-menu>


            </div>
          </div>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild"
          [style.display]="!searchText || node.ok ? 'block' : 'none'">
          <div fxLayout="row" [appScrollIntoView]="node.newInserted">
            <div style="display: block">
              <div class="lines1"></div>
              <div class="lines2"></div>
            </div>
            <div class="parent" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" fxFlexFill
              [ngClass]="{ activeParentNodeBgColor: node.selected }">
              <button class="tree-expand-collapse-btn" mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon [style.color]="'black'">
                  {{
                  nestedTreeControl.isExpanded(node)
                  ? "expand_more"
                  : "chevron_right"
                  }}
                </mat-icon>
              </button>

              <mat-checkbox [checked]="node.checked" [indeterminate]="node.indeterminate && !node.checked"
                (change)="itemToggle($event.checked, node)"></mat-checkbox>

              <mat-button [routerLink]="['canvas', node.id]" class="tree-node-name-btn"
                (click)="activeNode = node; onClickNode(node, 'PARENT')"
                [innerHTML]="node.name + ' ' + node.newInserted+ ' ' + node.newInserted| titlecase | p_highlight: searchText">
                <!-- {{ node.name }} -->
              </mat-button>
              <span style="flex: 1 1 auto"></span>
              <!--context menu parent  -->
              <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu"
                class="tree-menu-btn">
                <mat-icon>people</mat-icon>
              </button>


              <mat-menu #menu2="matMenu" xPosition="after">
                <button mat-menu-item (click)="onClickMenuAction(node,menu)" *ngFor="let menu of menuData.parent">
                  <mat-icon>{{menu.icon}}</mat-icon>
                  <span>{{menu.label | titlecase}}</span>
                </button>
              </mat-menu>


            </div>
          </div>
          <div [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
      <button mat-raised-button (click)="submit()">
        Submit
      </button>
      <!-- <pre>
        {{ getList2(nestedDataSource.data) | json }}
      </pre> -->
    </mat-card>
  </as-split-area>
  <as-split-area [size]="contentWidth" style="overflow: hidden; background-color: rgb(83, 244, 174)" fxLayout="column"
    fxLayoutAlign="start stretch" fxLayoutGap="1px">
    <mat-toolbar fxFlex="5">
      <h1 class="example-app-name">{{ activeNode?.name | titlecase }}</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>

    <div fxFlex="*" style="overflow: auto">
      <router-outlet></router-outlet>
    </div>
  </as-split-area>
</as-split>

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->