<as-split direction="horizontal">
  <as-split-area
    [size]="leftSidenavWidth"
    style="overflow: hidden; background-color: rgb(83, 244, 174)"
    fxLayout="column"
    fxLayoutGap="1px"
    fxLayoutAlign="start stretch"
  >
    <mat-toolbar fxFlex="5">
      <h1 class="example-app-name">Search</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar>
    <mat-card fxFlex="*" style="overflow: auto">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- child -->
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodeToggle
          matTreeNodePadding
          matTreeNodePaddingIndent="26"
        >
          <div style="display: block">
            <div class="lines1"></div>
            <div class="lines2"></div>
          </div>
          <div
            class="child"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="5px"
            fxFlexFill
          >
            <button mat-icon-button disabled class="tree-menu-img-btn">
              X
            </button>
            <mat-checkbox
              class="checklist-leaf-node"
              [checked]="checklistSelection.isSelected(node)"
              (change)="todoLeafItemSelectionToggle(node)"
            ></mat-checkbox>
            <mat-button [routerLink]="['canvas', node.id]" class="tree-node-name-btn">
              {{ node.item }}
            </mat-button>
            <span style="flex: 1 1 auto"></span>
            <button
              mat-icon-button
              (click)="addNewItem(node)"
              class="tree-menu-btn"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-tree-node>

        <!-- <mat-tree-node
          *matTreeNodeDef="let node; when: hasNoContent"
          matTreeNodePadding
        >
          <button mat-icon-button disabled></button>
          <mat-form-field appearance="fill">
            <mat-label>New item...</mat-label>
            <input matInput #itemValue placeholder="Ex. Lettuce" />
          </mat-form-field>
          <button mat-button (click)="saveNode(node, itemValue.value)">
            Save
          </button>
        </mat-tree-node> -->

        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          matTreeNodePaddingIndent="26"
        >
          <div style="display: block">
            <div class="lines3"></div>
            <div class="lines4"></div>
          </div>

          <!-- parent test commit-->
          <div
            class="parent"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="5px"
            fxFlexFill
          >
            <button
              class="tree-exp-btn"
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.item"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                }}
              </mat-icon>
            </button>

            <mat-checkbox
              [checked]="descendantsAllSelected(node)"
              [indeterminate]="descendantsPartiallySelected(node)"
              (change)="todoItemSelectionToggle(node)"
            ></mat-checkbox>
              <mat-button [routerLink]="['canvas', node.id]" class="tree-node-name-btn">
                {{ node.item }}
              </mat-button>
            <span style="flex: 1 1 auto"></span>
            <button
              mat-icon-button
              (click)="addNewItem(node)"
              class="tree-menu-btn"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </mat-tree-node>
      </mat-tree>
    </mat-card>
  </as-split-area>
  <as-split-area
    [size]="contentWidth"
    style="overflow: hidden; background-color: rgb(83, 244, 174)"
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="1px"
  >
    <mat-toolbar fxFlex="5">
      <h1 class="example-app-name">Heading</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>

    <div fxFlex="*" style="overflow: auto">
      <router-outlet></router-outlet>
    </div>
  </as-split-area>
</as-split>

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->
