//  sapcer for toolbar to make some buttons right  ----------------------start--------------------------------------
.example-spacer {
  flex: 1 1 auto;
}
//  sapcer for toolbar to make some buttons right ------------------------end---------------------------------------

// -----------------------------------------------------mat tree start-------------------------------------------------
.example-tree-invisible {
  display: none;
}

.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 25px;
}
// .example-tree div[role="group"] > .mat-tree-node {
//   padding-left: 20px;
//   min-height: 26px; // dont change it must be 26
// }
.example-tree mat-tree-node,
.example-tree mat-nested-tree-node {
  min-height: 26px;
}

.parent:hover,
.child:hover {
  background-color: rgb(255, 255, 210);
  z-index: 0;
}

.mat-tree {
  font-family: monospace;
}
.mat-icon-button {
  width: 24px;
  height: 24px;
  line-height: 24px !important;
}
.parent .mat-icon,
.child .mat-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
}

// -----------------------------------------------------mat tree end-------------------------------------------------

//
mat-card {
  border-radius: 0;
  padding: 5px;
  background-color: rgb(253, 221, 248);
}

// mat tree checkbox start ----------------------------------------------->>>
.mat-form-field {
  margin-right: 4px;
}
// mat tree checkbox end ----------------------------------------------->>>

// Branch lines start ----------------------------------------------->>>

.lines1,
.lines3 {
  height: 13px;
  width: 12px;
  border-left: 1px solid rgb(90, 86, 86);
  border-bottom: 1px solid rgb(90, 86, 86);
}

.lines2,
.lines4 {
  height: 13px;
  border-left: 1px solid rgb(90, 86, 86);
}

// mat tree checkbox end ----------------------------------------------->>>

.parent,
.child {
  border: 1px solid rgb(90, 86, 86);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  min-width: 0 !important;
  font-weight: 600;
  font-size: larger;
}

.tree-expand-collapse-btn {
  border-right: 1px solid rgb(90, 86, 86);
  background-color: rgb(252, 233, 126);
}

.tree-menu-btn {
  border-left: 1px solid rgb(90, 86, 86);
}
.tree-menu-img-btn {
  border-right: 1px solid rgb(90, 86, 86);
  // background-color: rgb(233, 248, 255);
}

// mat tree node names
.tree-node-name-btn:hover {
  cursor: pointer;
}
.example-form-field {
  position: relative;
  left: 0;
  top: 0;
  // height: 30px;
}
.activechildNodeBgColor {
  background-color: rgb(255, 177, 177);
}
.activeParentNodeBgColor {
  background-color:rgb(243, 243, 186);
}
