.dialog-header {
  margin: 5px;
  padding: 5px;
  background-color: rgb(210, 242, 246);
}

.mat-dialog-title {
  cursor: move;
}
.mat-dialog-title:hover {
  background-color: rgb(239, 241, 243);
}
.add-edit-dialog-card {
  margin: 5px;
}
