<div [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
  <div
    fxLayout="column"
    fxLayoutGap="1px"
    class="container"
    [style.padding.px]="sharedService.outerPadding | async"
  >
    <mat-toolbar fxFlex="6">
      <span>X-Map</span>
      <span class="example-spacer"></span>
      <mat-slide-toggle
        (toggleChange)="toggleTheme()"
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled"
      >
      </mat-slide-toggle>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>person</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <mat-card fxFlex="94">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
