<as-split direction="horizontal">
  <as-split-area
    [size]="80"
    style="background-color: rgb(241, 71, 9); overflow: hidden"
    fxLayout="column"
    fxLayoutGap="2px"
    fxLayoutAlign="start stretch"
  >
    <mat-toolbar fxFlex="5">
      <h1 class="example-app-name">Search</h1>
      <span class="example-spacer"></span>
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </mat-toolbar>

    <mat-card fxFlex="*" style="overflow: auto">
      <mat-accordion
        class="example-headers-align"
        multi
        fxLayout="column"
        fxLayoutGap="5px"
      >
        <mat-expansion-panel *ngFor="let c of canvas">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ c }} </mat-panel-title>
            <mat-panel-description>
              {{ canvasId | json }}
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This card indeterminates progress bar.</p>
          <p>{{ longText }}</p>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </as-split-area>

  <as-split-area
    [size]="20"
    style="background-color: rgb(241, 71, 9); overflow: hidden"
    fxLayout="column"
    fxLayoutGap="2px"
    fxLayoutAlign="start stretch"
  >
    <mat-toolbar fxFlex="5">
      <h1 class="example-app-name">Search</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar>

    <mat-card
      fxFlex="*"
      style="overflow: auto"
      fxLayout="column"
      fxLayoutGap="5px"
    >
      <mat-toolbar *ngFor="let a of attributes">
        <h1>{{ a }}</h1>
      </mat-toolbar>
    </mat-card>
  </as-split-area>
</as-split>
